.chart {
	margin: 20px;
	padding: 20px;
	box-shadow: -3px 3px 26px -14px rgba(0, 0, 0, 0.91);
	-webkit-box-shadow: -3px 3px 26px -14px rgba(0, 0, 0, 0.91);
	-moz-box-shadow: -3px 3px 26px -14px rgba(0, 0, 0, 0.91);
}

.chartTitle {
	margin-bottom: 20px;
}
